.row{
padding: 20px;
}

div{
    background-color: #000000;
    text-align: center;
}
/*estilo foto perfil*/
@media (min-width: 576px){
    #fotodeperfil {
        /*position: absolute;
        width: 15%;*/
        border-radius: 100%;
        box-shadow: 3px 3px 15px #5324ff;
        /*left: 5%;
        top:600px;7*/
    }
    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 575px){
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px #5324ff;
        left: 33%;
        top:950px;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 30%;
    color: white;
    width: auto;
    height: auto;

}
#titulo{
    color: aliceblue;
}
#descripcionacercademi{
 color: white;
}

h1,p{
    color: white;
}